.container
    .row.py-4
        .col-3
            .list-group.list-group-flush
                %a.list-group-item.text-black(href="#") エントリー一覧
                = link_to "エントリー登録", new_entry_path, class:"list-group-item .text-black"
                %a.list-group-item.text-black(href="#") エントリー検索
                %a.list-group-item.text-black(href="#") アカウント設定
        .col-9.text-gray
            %h4.py-3 エントリー一覧
            .input-group.mb-4
                %input.form-control(type="text")/
                .input-group-append
                    %button.btn.btn-secondary Filter
            - @entries.each do |entry|
                .card.shadow-sm.mb-2
                    .card-body
                        %h5 #{entry.title}
                        %p #{entry.contents}