.hero
    .container.text-white
        .row
            .col-6
                .hero-padding
                    %h1 Blog Site
                    .lead ブログサイトです。ブログを書くことができます。
                    .mt-3
                        %a.btn.btn-primary(href="#") サインイン
            .col-6
                .card.opacity-light
                    .card-body
