@import "bootstrap";
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);
@import "font-awesome";

body,
.text-black {
    color: rgb(80, 80, 80)
}

.text-gray {
    color: rgb(120, 120, 120)
}

.link-text-black {
    color: rgb(80, 80, 80) !important;
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

.hero {
    height: 500px;
    min-height: 95vh;
}

.hero-padding {
    padding: 90px 0px;
}

hr.divider {
    margin: 1px;
}